
<body>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <img src="../../assets/Images/02-2.jpg" id = "aboutProfileImage" alt="Computer">
  <div>
      <H2>About ME</H2>
      <p>Psalm 27: 1-3 The LORD is my light and my salvation whom shall I fear? 
        The LORD is the stronghold of my life— of whom shall I be afraid? When the 
        wicked advance against me to devour me,it is my enemies and my foes who will 
        stumble and fall.Though an army besiege me, my heart will not fear;though war break
         out against me,even then I will be confident.</p>
  </div>

</body>