li > a {
    padding-top:1.5em !important; 
    padding-bottom:0em !important;
    height: 5em;
   
}



h1{
    color:white !important;
    padding-bottom: .5em;
}

.navbar-toggle {
    padding: 0 0;
   
    margin-bottom: 0;
    float: inline-start;
}
