/* You can add global styles to this file, and also import other style files */


li > a {
    padding-top:1.5em !important; 
    padding-bottom:0em !important;
    height: 5em;
   
}

/* .container-fluid, .navbar-toggle{
    border-bottom: 0.05em solid rgb(235, 230, 230);
    padding-bottom:0em !important;
} */

h1{
    color:white !important;
    padding-bottom: .5em;
}

.navbar-toggle {
    padding: 0 0;
   
    margin-bottom: 0;
    float: inline-start;
}
